# Author: Arafat Ali | Email: webmaster@sofibox.com | Web: sofibox.com
.gitignore
.idea/.gitignore
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/maxibox.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# Sentive directories
/test/
/backup/
/log/
/secure/
/storage/os/**/usr/local/maxicode/maxiwall/backup/
/storage/os/**/usr/local/maxicode/maxida/backup/
/storage/os/**/usr/local/maxicode/maxisetup/backup/
/storage/os/**/usr/local/maxicode/maxidns/backup/
/storage/os/**/usr/local/maxicode/maxibox/backup/
/storage/os/**/usr/local/maxicode/maxicbuild/backup/
/storage/os/**/usr/local/maxicode/maxiclam/backup/
/storage/os/**/usr/local/maxicode/maxicloud/backup/
/storage/os/**/usr/local/maxicode/maxicsf/backup/
/storage/os/**/usr/local/maxicode/maxidet/backup/
/storage/os/**/usr/local/maxicode/maxidnf/backup/
/storage/os/**/usr/local/maxicode/maxidos/backup/
/storage/os/**/usr/local/maxicode/maxigit/backup/
/storage/os/**/usr/local/maxicode/maxigpg/backup/
/storage/os/**/usr/local/maxicode/maxihunter/backup/
/storage/os/**/usr/local/maxicode/maxile/backup/
/storage/os/**/usr/local/maxicode/maxilog/backup/
/storage/os/**/usr/local/maxicode/maxinet/backup/
/storage/os/**/usr/local/maxicode/maxinis/backup/
/storage/os/**/usr/local/maxicode/maxinode/backup/
/storage/os/**/usr/local/maxicode/maxios/backup/
/storage/os/**/usr/local/maxicode/maxipass/backup/
/storage/os/**/usr/local/maxicode/maxiperm/backup/
/storage/os/**/usr/local/maxicode/maxipy/backup/
/storage/os/**/usr/local/maxicode/maxirbl/backup/
/storage/os/**/usr/local/maxicode/maxitest/backup/
/storage/os/**/usr/local/maxicode/maxiweb/backup/
/storage/os/**/usr/local/maxicode/mrootkit/backup/

# Config flags
execution_env

# Sensitive files
maxisetup.conf
/code/ssh_scripts/os_write_ag.sh
/storage/os/**/usr/local/maxicode/maxiwall/maxiwall.conf
/storage/os/**/usr/local/maxicode/maxida/maxida.conf
/storage/os/**/usr/local/maxicode/maxisetup/maxisetup.conf
/storage/os/**/usr/local/maxicode/maxidns/maxidns.conf
/storage/os/**/usr/local/maxicode/maxibox/maxibox.conf
/storage/os/**/usr/local/maxicode/maxicbuild/maxicbuild.conf
/storage/os/**/usr/local/maxicode/maxiclam/maxiclam.conf
/storage/os/**/usr/local/maxicode/maxicloud/maxicloud.conf
/storage/os/**/usr/local/maxicode/maxicsf/maxicsf.conf
/storage/os/**/usr/local/maxicode/maxidet/maxidet.conf
/storage/os/**/usr/local/maxicode/maxidnf/maxidnf.conf
/storage/os/**/usr/local/maxicode/maxidos/maxidos.conf
/storage/os/**/usr/local/maxicode/maxigit/maxigit.conf
/storage/os/**/usr/local/maxicode/maxigpg/maxigpg.conf
/storage/os/**/usr/local/maxicode/maxigpg/secure/
/storage/os/**/usr/local/maxicode/maxihunter/maxihunter.conf
/storage/os/**/usr/local/maxicode/maxile/maxile.conf
/storage/os/**/usr/local/maxicode/maxilog/maxilog.conf
/storage/os/**/usr/local/maxicode/maxinet/maxinet.conf
/storage/os/**/usr/local/maxicode/maxinis/maxinis.conf
/storage/os/**/usr/local/maxicode/maxinode/maxinode.conf
/storage/os/**/usr/local/maxicode/maxios/maxios.conf
/storage/os/**/usr/local/maxicode/maxipass/maxipass.conf
/storage/os/**/usr/local/maxicode/maxipass/secure/
/storage/os/**/usr/local/maxicode/maxiperm/maxiperm.conf
/storage/os/**/usr/local/maxicode/maxipy/maxipy.conf
/storage/os/**/usr/local/maxicode/maxirbl/maxirbl.conf
/storage/os/**/usr/local/maxicode/maxitest/maxitest.conf
/storage/os/**/usr/local/maxicode/maxiweb/maxiweb.conf
/storage/os/**/usr/local/maxicode/mrootkit/mrootkit.conf
/storage/os/**/usr/local/maxisecure/setting.conf