# ENVIRONMENT VARIABLES for maxi.env:
# Author: Arafat Ali Email: arafat@sofibox.com
# Fill appropriate variable before running setup. Make sure this file is in the same path with the script.
# This file contains sensitive information, setup will auto destroy this file after finished installation.
# So make sure you have the original backup / copy of your modified maxi.env file
# Default name should be maxi.env. If you want to change this, modify the variable ENVIRONMENT_FILE="yourfileenv"
# Remember password cannot contain # ! ' / \ $ & because u need to escape this if u want to use in bash.
# Do not use this character in mysql or mariadb password: < > because mysqltuner does not support this character
# Warning Directadmin user password only accept the maximum of 64 characters. More than this will have problem with API
# Directadmin cannot contains this character in password, it will not work with API -> '+'
# =====================================

# yes = only one log file name | no = use multi log file based on unique date
USE_ONE_LOG_FILE="yes"
# This is a temporary allowed IP during setup which won't be blocked by firewall
TEMP_ALLOW_IP="84.12.1.123"
# "DIRECTADMIN" - Install directadmin (fully compatible with DA) | "GENERAL" - Install basic LEMP or LAMP stack | "LARAVEL" - coming soon
INSTALL_TYPE="DIRECTADMIN"
# Root email used by system and DA owner (will change DA owner email to this domain email instead of using hostname email owner@server.domain.com)
ROOT_EMAIL="owner@sofibox.com"
# Your full name (for system and DA admin too)
ADMIN_NAME="Arafat Ali"
ADMIN_EMAIL="admin@sofibox.com"
# Your email (eg. admin@sofibox.com)
# This email also will be used by the main admin account
DA_ADMIN_USERNAME1=*put-directadmin-new-username-here*"
# Admin username cannot contain character '+' it will trigger invalid password (DA bug?)
DA_ADMIN_USERPASS1="*long-secured-password*"
# Change default Directadmin username to secured one (default installation is admin which is not secured)
DA_OWNER_USERNAME1="da_owner"
# Be careful some characters are not accepted by phpMyAdmin. Bash has trouble with character #!.
# DA_ADMIN_USERPASS is for DA admin dashboard password
DA_OWNER_USERPASS1=*long-secured-password*"
# This is DA main reseller. Create at least one reseller here (cannot use '+' for password)
DA_RESELLER_USERNAME1="da_reseller"
DA_RESELLER_USERPASS1=*long-secured-password*"
DA_RESELLER_EMAIL1="webmaster@sofibox.com"
# This is the main reseller package
DA_RESELLER_PACKAGE_NAME1="RESELLER_UNLIMITED"
# This is different from BOX_DOMAIN
DA_RESELLER_DOMAIN1="sofibox.com"
# shared or assign - If shared, domain will use the server's main ip. assign will use one of the reseller's ips
DA_RESELLER_IP_TYPE1="shared"
# This is DA main user. Create at least one user here
DA_USER_USERNAME1="da_user"
DA_USER_USERPASS1="*long-secured-password*"
DA_USER_EMAIL1="webmaster@codegix.com"
# You can pass multiple domain (separated by space)
DA_USER_DOMAIN1="codegix.com codefix.com maxihash.com"
DA_USER_PACKAGE_NAME1="USER_UNLIMITED"
# This is another user (Use this format to create another extra user).
DA_USER_USERNAME2="da_user2"
DA_USER_USERPASS2="*long-secured-password*"
DA_USER_EMAIL2="webmaster@kalibmedia.com"
DA_USER_DOMAIN2="kalibmedia.com"
DA_USER_PACKAGE_NAME2="USER_UNLIMITED"
# Add another DA user here:
# DA_ADMIN_SQLPASS is for DA sql password (eg: phpmyadmin login) Password cannot contains this character [ ]
DA_ADMIN_SQLPASS=*long-secured-password*"
# Remember cannot contains this character & for DA_ROOT_SQL_PASS
DA_ROOT_SQL_PASS="*long-secured-password*"
DA_ROUNDCUBE_SQL_PASS="*long-secured-password*"
# If INSTALL TYPE for DA:
# CUSTOM = use your own setting during DA installation (provide options.conf and php_extensions.conf),
#| ORI = let DA decide what to install default things providing some details using auto
#| INTERACTIVE = ask question what to install | AUTO = Automated everything by DA (include auto CSF installation) -- AUTO is under testing
DA_INSTALL_TYPE="CUSTOM"
#This is Directadmin client/user ID
DA_CLIENT_ID="12345"
#This is Directadmin license ID
DA_LICENSE_ID="123456"
# Use custom port for Directadmin (Default one is not secure but using this custom port you will lose the ability to use one click sign in feature because that works only with 2222)
DA_PORT="1192"
DA_MODSECURITY_RULESET="comodo" # or owasp
CB_WEB_SERVER_SOFTWARE="nginx_apache"
ROUNDCUBE_CUSTOM_NAME="MyAwesomeMail"
SETUP_DA_HOST_SSL="yes" # or "no"
# When enable secure the custom directory with password
SECURE_HTTPASSWD_LOGIN_ROUTE="yes"
# Create phpmyadmin custom route here instead of using /pma, begin with /: eg /dbx123a.
PHPMYADMIN_LOGIN_ROUTE="/dbarea51"
HTTPASSWD_PHPMYADMIN_USERNAME="dbagent007"
HTTPASSWD_PHPMYADMIN_PASS="*long-secured-password*"
# Create roundcube custom route here instead of using /roundcube, begin with /: eg /mailx123
ROUNDCUBE_LOGIN_ROUTE="/mailarea51"
HTTPASSWD_ROUNDCUBE_USERNAME="mailagent007"
HTTPASSWD_ROUNDCUBE_PASS="*long-secured-password*"
# You don't want to change this because everything is begin with root
ROOT_USERNAME="root"
ROOT_USERPASS="*long-secured-password*"
# This is a private repositoy URL (PM me for more info because you need TOKEN key access)
SETUP_GIT_URL="https://token@github.com/sofibox/maxisetup.git"
GIT_TOKEN="*git-token-key*"
# To reduce server bot attack on SSH, you must change this SSH PORT
SSH_PORT="928"
SSH_USERNAME="ssh-uname"
SSH_USERPASS="*long-secured-password*"
# This one for SSH Public Key. I generate this from puttygen
SSH_PUBLIC_KEY="ssh-rsa AAAAB3N***AAAQE***nsAQENik/Al***G/8***Y sofibox-auth-test.sofibox.com-v1"
BOX_HOSTNAME_FQDN="test.sofibox.com"
BOX_HOSTNAME="test"
BOX_DOMAIN="sofibox.com"
BOX_TIMEZONE="Asia/Kuala_Lumpur"
# or auto = let the naming convention decide
NIC_INTERFACE_NAME="eth0"
IPV4_ADD0="123.111.50.185"
IPV6_ADD="2400:8902::a02d:91ee:fe05:4db2"
IPV4_DEF_GATEWAY0="123.111.50.1"
IPV6_DEF_GATEWAY="fe80::1"
AUTO_LINK_DA_IP="yes" # or no - link or not link IP from
# For /etc/resolv.conf
NAME_SERVER1="123.11.11.5"
NAME_SERVER2="123.11.14.5"
NAME_SERVER3="112.33.21.5"
ENABLE_SETUP_REBOOT="interactive" #interactive=user need to press enter, auto=forced reboot (no user interaction), disable - no reboot
#OSSEC_INS_TYPE="agent" #or local or hybrid
# ====== CSF SETTING ==========
# CSF port setting: Remember to begin with comma, and no space. This variable can be empty string (when empty don't put comma)
# If you want to put other allowed ports like 12345 and 112 use this: ,30000:35999,11211,12345,112
EXTRA_ALLOW_PORTS=",30000:35999,11211"
#CONNLIMIT="22;5,80;20,443;20"
#PORTFLOOD="22;tcp;5;300,80;tcp;20;5,443;tcp;20;5"
CSF_SYSLOG_CHECK="600"
#Google Recaptcha useful to setting up messenger v1 for Directadmin
GOOGLE_RECAPTCHA_SITE_V2="*recaptcha-v2-site-key*"
GOOGLE_RECAPTCHA_SECRET_V2="*recaptcha-v2-secret-key*"
GOOGLE_RECAPTCHA_SITE_V3="*recaptcha-v3-site-key*"
GOOGLE_RECAPTCHA_SECRET_V3="*recaptcha-v3-secret-key*"
ENABLE_ROUNDCUBE_RCGUARD="yes"
# This is a new testing feature to add automatically ipv6 config (official and manual way)
# when supplying yes , meaning no need to add through GUI manually, system will will do it automatically
AUTO_ADD_IPV6_ENTRY="yes"
GPG_PASSPHRASE="*your-gpg-passphrase*"
GPG_USE_EXISTING_KEY="yes"
# =~=~ For maxicata / suricata =~=~#
# The URL. Need to modify this if they change this URL like the v2 to v3
# Select version for suricata. Best is to use version 6 above because version 6 has new different packages need to include:
SURICATA_SELECT_VERSION="6.0.1"
MAXICATA_AIPDB_CHECK_URL="https://api.abuseipdb.com/api/v2/check"
MAXICATA_AIPDB_REPORT_URL="https://api.abuseipdb.com/api/v2/report"
# The main abuseAIPDB key
MAXICATA_AIPDB_API_KEY="strong*63161ec_covid19f****63ex742*x***85xaMaXi32xax41*****"
# =~=~ End maxicata =~=~#
# External DNS provider
EXTERNAL_DNS_PROVIDER="linode"