# ENVIRONMENT VARIABLES for maxi.env:
# Author: Arafat Ali Email: arafat@sofibox.com
# Fill appropriate variable before running setup. Make sure this file is in the same path with the script.
# This file contains sensitive information, setup will auto destroy this file after finished installation.
# So make sure you have the original backup / copy of your modified maxi.env file
# Default name should be maxi.env. If you want to change this, modify the variable ENVIRONMENT_FILE="yourfileenv"
# Remember password cannot contain # ! ' / \ $ & because u need to escape this if u want to use in bash.
# Warning Directadmin user password only accept the maximum of 64 characters. More than this will have problem with API
# =====================================

# yes = only one log file name | no = use multi log file based on unique date
USE_ONE_LOG_FILE="yes"
# This is a temporary allowed IP during setup which won't be blocked by firewall
TEMP_ALLOW_IP="84.12.1.123"
# Your full name
ADMIN_NAME="Arafat Ali"
# Your email (eg. webmaster@sofibox.com)
ADMIN_EMAIL="webmaster@sofibox.com"
# Root email (will change DA admin email to this domain email instead of using hostname email owner@server.domain.com)
ROOT_EMAIL="owner@sofibox.com"
# "DIRECTADMIN" - Install directadmin (fully compatible with DA) | "GENERAL" - Install basic LEMP or LAMP stack | "LARAVEL" - coming soon
INSTALL_TYPE="DIRECTADMIN"
# If INSTALL TYPE for DA:
# CUSTOM = use your own setting during DA installation (provide options.conf and php_extensions.conf),
#| ORI = let DA decide what to install default things prividing some details using auto
#| INTERACTIVE = ask question what to install | AUTO = Automated everything by DA (include auto CSF installation) -- AUTO is under testing
DA_INSTALL_TYPE="CUSTOM"
#This is Directadmin client/user ID
DA_CLIENT_ID="12345"
#This is Directadmin license ID
DA_LICENSE_ID="123456"
# Use custom port for Directadmin (Default one is not secure but using this custom port you will lose the ability to use one click sign in feature because that works only with 2222)
DA_PORT="1192"
# Change default Directadmin username to secured one (default installation is admin which is not secured)
DA_OWNER_USERNAME="da_owner"
# Be careful some characters are not accepted by phpMyAdmin. Bash has trouble with character #!.
# DA_ADMIN_USERPASS is for DA admin dashboard password
DA_OWNER_USERPASS="*long-secured-password*"
#DA_ADMIN_USERNAME="*put-directadmin-new-username-here*"
#DA_ADMIN_USERPASS="*long-secured-password*"
# DA_ADMIN_SQLPASS is for DA sql password (eg: phpmyadmin login) Password cannot contains this character [ ]
DA_ADMIN_SQLPASS="*long-secured-password*"
# Remember cannot contains this character & for DA_ROOT_SQL_PASS
DA_ROOT_SQL_PASS="*long-secured-password*"
DA_ROUNDCUBE_SQL_PASS="*long-secured-password*"
DA_MODSECURITY_RULESET="comodo" # or owasp
CB_WEB_SERVER_SOFTWARE="nginx_apache"
ROUNDCUBE_CUSTOM_NAME="MailAku"
SETUP_DA_HOST_SSL="yes" # or "no"
# When enable secure the custom directory with password
SECURE_HTTPASSWD_LOGIN_ROUTE="yes"
# Create phpmyadmin custom route here instead of using /pma, begin with /: eg /dbx123a.
PHPMYADMIN_LOGIN_ROUTE="/dbarea51"
HTTPASSWD_PHPMYADMIN_USERNAME="dbagent007"
HTTPASSWD_PHPMYADMIN_PASS="*long-secured-password*"
# Create roundcube custom route here instead of using /roundcube, begin with /: eg /mailx123
ROUNDCUBE_LOGIN_ROUTE="/mailarea51"
HTTPASSWD_ROUNDCUBE_USERNAME="mailagent007"
HTTPASSWD_ROUNDCUBE_PASS="*long-secured-password*"
# You don't want to change this because everything is begin with root
ROOT_USERNAME="root"
ROOT_USERPASS="*long-secured-password*"
# This is a private repositoy URL (PM me for more info because you need TOKEN key access)
SETUP_GIT_URL="https://token@gitlab.com/sofibox/maxisetup.git"
GIT_TOKEN="*git-token-key*"
# To reduce server bot attack on SSH, you must change this SSH PORT
SSH_PORT="928"
SSH_USERNAME="ssh-uname"
SSH_USERPASS="*git-token-key*"
# This one for SSH Public Key. I generate this from puttygen:
SSH_PUBLIC_KEY="ssh-rsa AAAAB3N***AAAQE***nsAQENik/Al***G/8***Y sofibox-auth-test.sofibox.com-v1"
BOX_HOSTNAME_FQDN="test.sofibox.com"
BOX_HOSTNAME="test"
BOX_DOMAIN="sofibox.com"
BOX_TIMEZONE="Asia/Kuala_Lumpur"
NIC_INTERFACE_NAME="eth0"
IPV4_ADD0="123.111.50.185"
IPV6_ADD="2400:8902::a02d:91ee:fe05:4db2"
IPV4_DEF_GATEWAY0="123.111.50.1"
IPV6_DEF_GATEWAY="fe80::1"
AUTO_LINK_DA_IP="yes" # or no - link or not link IP from
# For /etc/resolv.conf
NAME_SERVER1="123.11.11.5"
NAME_SERVER2="123.11.14.5"
NAME_SERVER3="112.33.21.5"
ENABLE_SETUP_REBOOT="interactive" #interactive=user need to press enter, auto=forced reboot (no user interaction), disable - no reboot
#OSSEC_INS_TYPE="agent" #or local or hybrid
#OSSEC_INS_TYPE="agent" #or local or hybrid
# ====== CSF SETTING ==========
# CSF port setting: Remember to begin with comma, and no space. This variable can be empty string (when empty don't put comma)
# If you want to put other allowed ports like 12345 and 112 use this: ,30000:35999,11211,12345,112
EXTRA_ALLOW_PORTS=",30000:35999,11211"
#CONNLIMIT="22;5,80;20,443;20"
#PORTFLOOD="22;tcp;5;300,80;tcp;20;5,443;tcp;20;5"
CSF_SYSLOG_CHECK="600"
#Google Recaptcha useful to setting up messenger v1 for Directadmin
GOOGLE_RECAPTCHA_SITE_V2="*recaptcha-v2-site-key*"
GOOGLE_RECAPTCHA_SECRET_V2="*recaptcha-v2-secret-key*"
GOOGLE_RECAPTCHA_SITE_V3="*recaptcha-v3-site-key*"
GOOGLE_RECAPTCHA_SECRET_V3="*recaptcha-v3-secret-key*"
ENABLE_ROUNDCUBE_RCGUARD="yes"
# This is a new testing feature to add automatically ipv6 config (official and manual way)
# when supplying yes , meaning need to add through GUI manually, system will will do it automatically
AUTO_ADD_IPV6_ENTRY="yes"
GPG_PASSPHRASE="*your-gpg-passphrase*"
GPG_USE_EXISTING_KEY="yes"