# Config file for maxisetup (maxisetup.conf):
# Author: Arafat Ali Email: arafat@sofibox.com
# Fill appropriate variable before running setup. Make sure this file is in the same path with the script.
# This file contains sensitive information, setup will auto destroy this file after finished installation.
# So make sure you have the original backup / copy of your modified maxisetup.conf file
# Default name should be maxisetup.conf. If you want to change this, modify the variable CONFIG_FILE="yourfileenv"
# Remember password cannot contain # ! ' / \ $ & because u need to escape this if u want to use in bash.
# Do not use this character in mysql or mariadb password: < > and ) because mysqltuner does not support this character
# Warning Directadmin user password only accept the maximum of 64 characters. More than this will have problem with API
# Directadmin cannot contains this character in password, it will not work with API -> '+'
# =====================================

# yes = only one log file name | no = use multi log file based on unique date
USE_ONE_LOG_FILE="yes"
# This is a temporary allowed IP during setup which won't be blocked by firewall
TEMP_ALLOW_IP="84.12.1.123"
# "directadmin" - Install server directadmin (fully compatible with DA)
# "general" - Install basic LEMP or LAMP stack (with security hardened)
# "laravel" - coming soon (with security hardened)
# "odoo" - coming soon (with security hardened)
INSTALL_TYPE="directadmin"
# This will use custom script called (websetup) for setting up specific website configuration.
# For example, a prestashop website called test.com needs to have custom php config to match prestashop requirement
# Disable this if you are not able to access private repo
ENABLE_CUSTOM_WEB_SETUP="no"
# If disk encryption is set, put the volume group name.
# This name will be used by fstab, so putting the wrong group name you will be locked out from the system from booting.
# TODO: This is temporary, will deprecated in future, setup will determine if disk is encrypted or not
DISK_ENCRYPTION="yes"
# Username to set for grub bootloader
SECURE_GRUB="yes"
LUKS_PASS="luks*encryption*password"
# Username to set for grub bootloader
GRUB_UNAME="grub_user"
# Password to set for grub bootloader
GRUB_PASS="*grub_pasword*"
# TODO: This is a temporary variable. Will deprecated in future
LVM_VOLUME_GROUP="vg1"
# You don't want to change this because everything is begin with root
ROOT_USERNAME="root"
ROOT_USERPASS="*long-secured-password*"
# Root email used by system and DA owner (will change DA owner email to this domain email instead of using hostname email owner@server.domain.com)
ROOT_EMAIL="owner@sofibox.com"
# Global name (Your full name eg: used in system and DA admin)
ADMIN_NAME="Arafat Ali"
# General admin email (eg. admin@sofibox.com)
ADMIN_EMAIL="admin@sofibox.com"
# This will use DA loginas mentioned in the API documentation
# sign-as = you can login using this username "admin|client" to log as the client (benefit: no need to know DA client passwords)
# direct-login = login directly using username and password (need to know DA client passwords)
DA_LOGIN_METHOD="sign-as"
# === DA owner start ===
# Owner shouldn't have domain or web interfaces for security reason
DA_OWNER_NAME1="System Owner"
# Change default Directadmin username to secured one (default installation is admin which is not secured)
DA_OWNER_USERNAME1="da_owner"
# Be careful some characters are not accepted by phpMyAdmin. Bash has trouble with character #!.
# DA_ADMIN_USERPASS is for DA admin dashboard password
DA_OWNER_USERPASS1=*long-secured-password*"
# DA owner email will use $ROOT_EMAIL variable above but we can declare here too for future reference
DA_OWNER_SYSTEM_EMAIL1="owner@sofibox.com"
DA_OWNER_SECURITY_Q1=("What is the spiritual vibration movement?" "What do they call you?")
DA_OWNER_SECURITY_A1=("xxx" "MaXi32")
# == DA owner end ===

# === DA admin start ===
# Admin shouldn't have domain or web interfaces for security reason
# This email also will be used by the main admin account
DA_ADMIN_NAME1="System Admin"
DA_ADMIN_USERNAME1=*put-directadmin-new-username-here*"
# Admin username cannot contain character '+' it will trigger invalid password (DA bug?)
DA_ADMIN_USERPASS1="*long-secured-password*"
DA_ADMIN_SYSTEM_EMAIL1="admin@sofibox.com"
DA_ADMIN_SECURITY_Q1=("What is the spiritual movement?" "What do they call you?")
DA_ADMIN_SECURITY_A1=("xxx" "MaXi32")
# === DA admin end ===

# === DA reseller start ===
# This is DA main reseller. Create at least one reseller here (cannot use '+' for password)
DA_RESELLER_NAME1="Sofibox CH"
DA_RESELLER_USERNAME1="da_reseller"
DA_RESELLER_USERPASS1=*long-secured-password*"
DA_RESELLER_SYSTEM_EMAIL1="webmaster@sofibox.com"
DA_RESELLER_MAIL_USER1=("webmaster@sofibox.com" "info@sofibox.com")
DA_RESELLER_MAIL_PASSWORD1=("A*longemailpass" "BlongemailPass*")
# This is the main reseller package
DA_RESELLER_PACKAGE_NAME1="RESELLER_UNLIMITED"
# This is different from BOX_DOMAIN
DA_RESELLER_DOMAIN1=("sofibox.com" "domain2.com")
# Put wildcard record for this domain. To disable just let this variable empty with ""
# Format <domain.com>:<anotherdomain.com>:<anotheronedomain.com>: ...
DA_RESELLER_WILDCARD_DOMAIN1=("sofibox.com:anotherdomain.com:anotherone.com")
# Required at least one subdomain for now
DA_RESELLER_SUBDOMAIN1=("sofibox.com:sales+login+secure" "domain2.com:dashboard" "test.com:abc+def")
# shared or assign - If shared, domain will use the server's main ip. assign will use one of the reseller's ips
DA_RESELLER_IP_TYPE1="shared"
DA_RESELLER_ENABLE_DOMAIN_SSL1="yes"
DA_RESELLER_SSL_SUB_NAME1=("letsencrypt:sofibox.com:www+ftp+mail+pop+smtp+sales+secure+login+svn")
# Security question and answers
# Can be empty with ""
DA_RESELLER_SECURITY_Q1=("What is the spiritual movement?" "What do they call you?")
DA_RESELLER_SECURITY_A1=("xxx" "MaXi32")
# <domain>:<platform_name>:<platform_version>
#DA_RESELLER_ROOT_WEB_TYPE1=("sofibox.com:wordpress:5.6")
#<domain_name>:<db_name>:<db_user>:<db_password>
DA_RESELLER_DB1=("sofibox.com:db_name:db_user:*db-password*" "sofibox.com:db_name2:db_user2:*db-password*" "sofibox.com:db_name2:abcd:*db-password*")
# Whether to enable or disable modesecurity for the subdomain
DA_RESELLER_MODSEC1=("sofibox.com:sales+OFF:login+ON")
# === DA reseller end ===

# === DA user start ===
# user name, where the main username variable should have variable postfix of 1
DA_USER_NAME1="Maxibi ICT Solutions"
DA_USER_USERNAME1="da_user"
# user password, must be maximum of 64 characters and doesn't contain the plus character '+'
DA_USER_USERPASS1="*long-secured-password*"
# user system email, where is used for DA to send email, system email should only have 1 email
DA_USER_SYSTEM_EMAIL1="webmaster@maxibi.com"
# user mail account, where array index must match between mail_account and mail_password
# If one mail. eg: DA_USER_MAIL_USER1=("test@test.com")
DA_USER_MAIL_USER1=("email1@maxibi.com" "email2@maxibi.com")
# user mail password, where array index must match between mail_account and mail_password:
DA_USER_MAIL_PASSWORD1=("*mailpassword1" "*mailpassword2")
# user domain, can declare multiple domains here
DA_USER_DOMAIN1=("maxibi.com")
# Put wildcard record for this domain. To disable just let this variable empty with ""
# Format <domain.com>:<anotherdomain.com>:<anotheronedomain.com>: ...
DA_RESELLER_WILDCARD_DOMAIN1=("maxibi.com")
# Format: <rootdomain>:<subdomain1.subdomain2>+<anothersubdomain>+ ...
# Use plus '+' instead of dot '.'
# because there is no easy way to determine root domain when it has long subdomains due to huge number of TLD
# and those TLD names need to be maintained frequently especially from https://publicsuffix.org/
# you can declare multi subdomains like maxibi.com:sub1.sub2.sub3.sub4.sub5
# The symbol * means, this domain has DNS record wildcard (it will auto create if supply)
DA_USER_SUBDOMAIN1=("maxibi.com:sales+login+sub1.sub2.sub3+*")
# user package name, make sure this package name is created first by reseller (the code will check for you)
DA_USER_PACKAGE_NAME1="USER_UNLIMITED"
# enable/disable ssl certificate for all domains for this user enable="yes", disable="no"
DA_USER_ENABLE_DOMAIN_SSL1="yes"
# Define SSL provider for each domain here
# <ssl_provider>:<root_domain>:subdomain1.subdomain2+subdomain2.subdomain3+subdomainx
# ssl_provider such as letsencrypt, digicert etc:
# The root domain should be ssled by default
DA_USER_SSL_SUB_NAME1=("letsencrypt:maxibi.com:www+ftp+mail+pop+smtp+sales")
# Security question and answers
DA_USER_SECURITY_Q1=("What is the spiritual movement?" "What do they call you?")
DA_USER_SECURITY_A1=("xxx" "MaXi32")
# <domain>:<platform_name>:<platform_version>
DA_USER_ROOT_WEB_TYPE1=("maxibi.com:odoo:14")
# <domain_name>:<db_name>:<db_user>:<db_password>
DA_USER_DB1=("maxibi.com:db_name:db_usr:*db-password*")
# Add more user from here (using the same format above):
# Can add multiple domains, and emails
# Add more user from here (using the same format above and add postfix index):
# Can add multiple domains, and emails: eg:
# Remember that mailuser and password must have the same array length (script will check this)
#DA_USER_MAIL_USER2=
#DA_USER_USERPASS2=
#DA_USER_SYSTEM_EMAIL2=
#DA_USER_MAIL_USER2=
#DA_USER_MAIL_PASSWORD2=
#DA_USER_DOMAIN2=
DA_RESELLER_WILDCARD_DOMAIN2=
#DA_USER_SUBDOMAIN2=
#DA_USER_PACKAGE_NAME2=
#DA_USER_ENABLE_DOMAIN_SSL2=
#DA_USER_SSL_SUB_NAME2=
#DA_USER_SECURITY_Q2=
#DA_USER_SECURITY_A2=
#DA_USER_ROOT_WEB_TYPE2=
#DA_USER_DB2=
# === DA user end ===

DA_MAX_UNAME_LENGTH="30"
# DA_ADMIN_SQLPASS is for DA sql password (eg: phpmyadmin login) Password cannot contains this character [ ] <> and )
# DA_ADMIN_SQLPASS is for DA sql password (eg: phpmyadmin login) Password cannot contains this character [ ]
DA_ADMIN_SQLPASS=*long-secured-password*"
# Remember cannot contains this character & for DA_ROOT_SQL_PASS
DA_ROOT_SQL_PASS="*long-secured-password*"
DA_ROUNDCUBE_SQL_PASS="*long-secured-password*"
# If INSTALL TYPE for DA:
# custom = use your own setting during DA installation (provide options.conf and php_extensions.conf),
# ori = let DA decide what to install default things prividing some details using auto
# interactive = ask question what to install
# auto = Automated everything by DA (include auto CSF installation) -- AUTO is under testing
DA_INSTALL_TYPE="custom"
#This is Directadmin client/user ID
DA_CLIENT_ID="12345"
#This is Directadmin license ID
DA_LICENSE_ID="123456"
# Use custom port for Directadmin (Default one is not secure but using this custom port you will lose the ability to use one click sign in feature because that works only with 2222)
DA_PORT="1192"
DA_MODSECURITY_RULESET="comodo" # or owasp
DA_HELP_DOMAIN="help.sofibox.com"
CB_WEB_SERVER_SOFTWARE="nginx_apache"
# or mysql-8.0
# Format <sql_type>-<sql_version>
CB_MYSQL_INS="mariadb-10.5"
SETUP_DA_HOST_SSL="yes" # or "no"
# When enable secure the custom directory with password
SECURE_HTTPASSWD_LOGIN_ROUTE="yes"
# Create phpmyadmin custom route here instead of using /pma, begin with /: eg /dbx123a.
PHPMYADMIN_CUSTOM_NAME="MY Awesome Database"
PHPMYADMIN_LOGIN_ROUTE="/dbarea51"
HTTPASSWD_PHPMYADMIN_USERNAME="dbagent007"
HTTPASSWD_PHPMYADMIN_PASS="*long-secured-password*"
# Create roundcube custom route here instead of using /roundcube, begin with /: eg /mailx123
ROUNDCUBE_CUSTOM_NAME="My Awesome Mail"
ROUNDCUBE_LOGIN_ROUTE="/mailarea51"
HTTPASSWD_ROUNDCUBE_USERNAME="mailagent007"
HTTPASSWD_ROUNDCUBE_PASS="*long-secured-password*"
# This is a private repository URL (PM me for more info because you need TOKEN key access)
SETUP_GIT_URL="https://token@github.com/sofibox/maxisetup.git"
GIT_TOKEN="*git-token-key*"
# To reduce server bot attack on SSH, you must change this SSH PORT
SSH_PORT="928"
SSH_USERNAME="ssh-uname"
SSH_USERPASS="*long-secured-password*"
# This one for SSH Public Key. I generate this from puttygen
SSH_PUBLIC_KEY="ssh-rsa AAAAB3N***AAAQE***nsAQENik/Al***G/8***Y sofibox-auth-test.sofibox.com-v1"
# vps | dedicated
LUKS_PASS="*LUKS-DISK-ENCRYPTION*"
BOX_TYPE="dedicated"
BOX_RAM="32GB"
BOX_SWAP="4GB"
BOX_HOSTNAME_FQDN="test.sofibox.com"
BOX_TIMEZONE="Asia/Kuala_Lumpur"
BOX_HOSTNAME="test"
BOX_DOMAIN="sofibox.com"
# Name servers up to 4
BOX_NS1="ns1.sofibox.com"
BOX_NS2="ns2.sofibox.com"
BOX_NS3="ns3.sofibox.com"
BOX_NS4="ns4.sofibox.com"

# or auto = let the naming convention decide
NIC_INTERFACE_NAME="eth0"
IPV4_ADD0="123.111.50.185"
IPV4_DEF_GATEWAY0="123.111.50.1"
IPV6_ADD0="2400:8902::a02d:91ee:fe05:4db2"
IPV6_DEF_GATEWAY0="fe80::1"
AUTO_LINK_DA_IP="yes" # or no - link or not link IP from
# For /etc/resolv.conf
NAME_SERVER1="123.11.11.5"
NAME_SERVER2="123.11.14.5"
NAME_SERVER3="112.33.21.5"
ENABLE_SETUP_REBOOT="interactive" #interactive=user need to press enter, auto=forced reboot (no user interaction), disable - no reboot
#OSSEC_INS_TYPE="agent" #or local or hybrid
# ====== CSF SETTING ==========
# CSF port setting: Remember to begin with comma, and no space. This variable can be empty string (when empty don't put comma)
# If you want to put other allowed ports like 12345 and 112 use this: ,30000:35999,11211,12345,112
EXTRA_ALLOW_PORTS=",30000:35999,11211"
#CONNLIMIT="22;5,80;20,443;20"
#PORTFLOOD="22;tcp;5;300,80;tcp;20;5,443;tcp;20;5"
CSF_SYSLOG_CHECK="600"
#Google Recaptcha useful to setting up messenger v1 for Directadmin
GOOGLE_RECAPTCHA_SITE_V2="*recaptcha-v2-site-key*"
GOOGLE_RECAPTCHA_SECRET_V2="*recaptcha-v2-secret-key*"
GOOGLE_RECAPTCHA_SITE_V3="*recaptcha-v3-site-key*"
GOOGLE_RECAPTCHA_SECRET_V3="*recaptcha-v3-secret-key*"
ENABLE_ROUNDCUBE_RCGUARD="yes"
# This is a new testing feature to add automatically ipv6 config (official and manual way)
# when supplying yes , meaning no need to add through GUI manually, system will will do it automatically
AUTO_ADD_IPV6_ENTRY="yes"
GPG_PASSPHRASE="*your-gpg-passphrase*"
GPG_USE_EXISTING_KEY="yes"

# =~=~ For maxiwall / suricata =~=~#
# The URL. Need to modify this if they change this URL like the v2 to v3
# Select version for suricata. Best is to use version 6+ because version 6 has new different packages need to include:
SURICATA_SELECT_VERSION="6.0.1"
MAXIWALL_AIPDB_CHECK_URL="https://api.abuseipdb.com/api/v2/check"
MAXIWALL_AIPDB_REPORT_URL="https://api.abuseipdb.com/api/v2/report"
# The main abuseAIPDB key
MAXIWALL_AIPDB_API_KEY="strong*63161ec_covid19f****63ex742*x***85xaMaXi32xax41*****"
# =~=~ End maxiwall =~=~#

# External DNS provider
# Can be linode, digitalocean amazonaws and more, put value 'local' to disable this feature and use internal DNS.
#EXTERNAL_DNS_PROVIDER="linode"
#DNS_PROVIDER_USER="sofibox"
# Format <provider>:<user>:<api_key>
DNS_PROVIDER_API_KEY1="*API-KEY"